In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Padang,ID,2022-02-09 21:10:31,-0.9492,100.3543,75.31,64,100,7.20
1,1,Fairbanks,US,2022-02-09 21:10:14,64.8378,-147.7164,-5.40,74,100,3.44
2,2,Dikson,RU,2022-02-09 21:08:15,73.5069,80.5464,1.49,95,99,22.26
3,3,Pevek,RU,2022-02-09 21:10:31,69.7008,170.3133,-32.75,100,100,5.17
4,4,Bluff,NZ,2022-02-09 21:10:32,-46.6000,168.3333,59.81,96,78,5.08

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Padang,ID,2022-02-09 21:10:31,-0.9492,100.3543,75.31,64,100,7.20
8,8,Rikitea,PF,2022-02-09 21:05:48,-23.1203,-134.9692,79.00,68,0,15.26
15,15,Puerto Ayora,EC,2022-02-09 21:05:49,-0.7393,-90.3518,82.36,75,65,7.72
16,16,Georgetown,MY,2022-02-09 21:05:15,5.4112,100.3354,78.89,93,20,4.61
17,17,Makakilo City,US,2022-02-09 21:10:35,21.3469,-158.0858,79.29,55,100,11.50
19,19,Tenenkou,ML,2022-02-09 21:10:35,14.4572,-4.9169,77.97,10,0,11.34
23,23,Mananara,MG,2022-02-09 21:07:19,-16.1667,49.7667,76.21,93,13,1.90
26,26,Luganville,VU,2022-02-09 21:10:37,-15.5333,167.1667,81.14,81,100,8.10
40,40,Kapaa,US,2022-02-09 21:06:59,22.0752,-159.3190,78.78,67,0,6.91
41,41,Kloulklubed,PW,2022-02-09 21:10:42,7.0419,134.2556,81.55,80,100,12.17

In [12]:
preferred_cities_df.count()

City_ID       152
City          152
Country       151
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Padang      ID     75.31  -0.9492  100.3543
8         Rikitea      PF     79.00 -23.1203 -134.9692
15   Puerto Ayora      EC     82.36  -0.7393  -90.3518
16     Georgetown      MY     78.89   5.4112  100.3354
17  Makakilo City      US     79.29  21.3469 -158.0858
19       Tenenkou      ML     77.97  14.4572   -4.9169
23       Mananara      MG     76.21 -16.1667   49.7667
26     Luganville      VU     81.14 -15.5333  167.1667
40          Kapaa      US     78.78  22.0752 -159.3190
41    Kloulklubed      PW     81.55   7.0419  134.2556

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [16]:
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Padang      ID     75.31  -0.9492  100.3543
8         Rikitea      PF     79.00 -23.1203 -134.9692
15   Puerto Ayora      EC     82.36  -0.7393  -90.3518
16     Georgetown      MY     78.89   5.4112  100.3354
17  Makakilo City      US     79.29  21.3469 -158.0858
19       Tenenkou      ML     77.97  14.4572   -4.9169
23       Mananara      MG     76.21 -16.1667   49.7667
26     Luganville      VU     81.14 -15.5333  167.1667
40          Kapaa      US     78.78  22.0752 -159.3190
41    Kloulklubed      PW     81.55   7.0419  134.2556

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))